<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de Fornecedor</title>
</head>

<body>
  <h1>Formulário de Fornecedor</h1>
  <form action="/addfornecedor" method="POST">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome" required><br>
    <label for="telefone">Telefone:</label><br>
    <input type="text" id="telefone" name="telefone" required><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>
    <button type="submit">Adicionar Fornecedor</button>
  </form>
</body>

</html>