@import url("./main.css");

h1 {
  font-family: var(--ubuntu);
  font-weight: 500;
}

div {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 30px;
}

main img {
  border: 1px solid #5522ff;
  width: 400px;
  height: 200px;
  border-radius: 10px;
}
